.container {
  background-color: lightblue;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  font-size: 30px;
  width: 1200px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.3rem;
  text-align: center;
}

.container p {
  font-size: 30px;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  width: 1000px;
  text-align: center;
}

.container h2 {
  text-align: center;
  color: darkorchid;
  font-family: -apple-system;
  text-align: center;
}

.pics {
  display: -ms-inline-flexbox;
  text-align: center;
}

.dob {
  text-align: center;
}

.gender {
  text-align: center;
  display: grid;
}

.gender button {
  text-align: center;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
}

#akan_name_revealer {
  color: blue;
  padding-left: auto;
  padding-right: auto;
}

#parent {
  padding: auto;
}

@media all and (min-width: 480px) and (max-width: 760px) {
  .container {
    font-size: 15px;
    width: auto;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3rem;
    text-align: center;
  }
}
